<div class="container">

  <h1>Vos insectes</h1>
    <div class="row">
      <% @insects.each do |insect| %>
        <div class="card-product col-sm-12 col-md-3">
          <img src="https://images.unsplash.com/photo-1518737743670-3f217c4def4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2960&q=80" />
            <div class="card-product-infos">
                <h2><%= insect.name.capitalize%></h2>
                <p> <i><%= insect.order %></i></p>
                <div class="icon">
                  <%=link_to insect_path(insect) do %>
                    <i class="fa-solid fa-eye"></i>
                  <% end %>
                  <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe,
                    insect_path(insect),
                    method: :delete,
                    data: { confirm: "Are you sure?"} %>
                </div>
              </div>
        </div>
      <% end %>
    </div>

  <%= link_to "Creation d'insecte", new_insect_path %>
  <%= link_to "xxxx", bookings_path %>

</div>
