<div class="container">

  <h1>Les insectes</h1>
    <div class="row">
      <% @insects.each do |insect| %>
        <div class="card-product col-sm-12 col-md-3">
          <%= cl_image_tag insect.photos.first.key,  class:"d-block w-100" %>
          <%=link_to insect_path(insect) do %>
            <div class="card-product-infos">
                <h2><%= insect.name.capitalize%></h2>
                <p> <i><%= insect.order %></i></p>
                <div class="icon">
                  <%=link_to insect_path(insect) do %>
                    <i class="fa-solid fa-eye"></i>
                  <% end %>
                  <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe,
                    insect_path(insect),
                    method: :delete,
                    data: { confirm: "Are you sure?"} %>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
