<div class="container">
      <%= link_to "< Retour à la liste des insectes", insects_path, class: "text-muted" %>
  <div class="row mt-3">
    <div class="col-sm-6 col-md-7">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @insect.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= "active" if index.zero?%>">
              <%= cl_image_tag photo.key,  class:"d-block w-100" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-sm-6 col-md-5">
      <h1> <%=  @insect.name.capitalize %></h1>
      <p> <%= @insect.description %></p>
      <p> <b>Ordre :</b> <%= @insect.order %></p>
      <% if policy(@insect).update? %>
        <%= link_to "Modifier mon insect", edit_insect_path(@insect), class: "btn btn-outline-warning me-1" %>
        <% if policy(@insect).destroy? %>
              <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe,
            insect_path(@insect),
            method: :delete,
            data: { confirm: "Are you sure?"},
            class: "btn btn-warning" %>
        <% end %>
      <% else %>
      <br>
      <%= link_to "Réserver cet insecte", new_insect_booking_path(@insect), class:"btn btn-primary mt-3"%>
      <% end %>
    </div>
  </div>
  <div id="reviews" class=" card mt-4">
    <h4 class="card-header">
      <%= pluralize @insect.reviews.size, "commentaire" %>
    </h4>
    <% if @insect.reviews.blank? %>
      <p class="p-3 mb-0 text-muted">Soit le premier à laisser un avis pour <%= @insect.name %></p>
    <% else %>
      <% @insect.reviews.each do |review| %>
          <div class="list-group list-group-flush p-3">
            <p id="review-<%= review.id %>" class="mb-0"><%= review.content %></p>
            <%# <% raise %>
          </div>
      <% end %>
    <% end %>
    <div class="list-group list-group-flush p-3">
      <%= simple_form_for [ @insect, @review ], remote: true do |f| %>
        <%= f.input :content, label:"Votre commentaire", as: :text %>
        <%= f.button :submit, class:"btn btn-outline-secondary mt-1" %>
      <% end %>
    </div>
  </div>
</div>
