<h1>Mes Réservations</h1>

<% @bookings.each do |booking| %>
<div class="card-product bookings">
  <%= image_tag(booking.insect.photos.first) %>
  <div class="card-product-infos mb-8">
    <h2><%= booking.insect.name %> </h2>
    <p> <em> <%= booking.insect.description %> </em></p>
    <p><em>Du : </em> <%=booking.booking_start_date.strftime("%Y-%m-%d %I:%M:%S")%></p>
    <p><em>Au : </em><%= booking.booking_end_date.strftime("%Y-%m-%d %I:%M:%S") %></p>
    <br>


    <%# <div class="col-6 btn btn-intrinsect">
      <%=link_to "Consulter", booking_path(booking) %>
    <%# </div> %>

    <div class="btn btn-intrinsect">
      <%= link_to "Supprimer",
      booking_path(booking),
      method: :delete,
      data: { confirm: "Are you sure?"} %>
    </div>
  </div>
</div>



<% end %>
