<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path class: "navbar-brand" do %>
        <%= image_tag "pap.png", :height => "48px", :width => "48px" %>
      <% end %>
      <%= link_to root_path class: "navbar-brand" do %>
      <h1 class="font-logo">I N T R I N S E C T</h1>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <%# <li class="nav-item active"> %>
              <%# <%= link_to "Home", "#", class: "nav-link" %>
            <%# </li>
            <li class="nav-item">
              <%= link_to "Messages", "#", class: "nav-link" %>
            <%# </li> %>
            <li class="nav-item dropdown">
              <%= image_tag "https://www.pngmart.com/files/21/Account-User-PNG-Transparent.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mes réservations", bookings_path, class: "dropdown-item" %>
                <%= link_to "Ajouter un insecte", new_insect_path, class: "dropdown-item" %>
                <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item", method: :delete %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

    <%= yield %>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Intrinsect is made with <i class="fas fa-heart"></i> by Marcelo l'Asticot, Raphael la Coccinelle et Matthis la Fourmis
    </div>
  </div>

  </body>
</html>
